#what about 3rd shift? AND send submit to hoursTable
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="welcome.css">
    <title> Time Card sheet </title>
  </head>
  <body>
      <form action="/:badge_id/submit" method="get" class = "loggedHoursSheet">
        <main>
          <h2 id= "time card heading">Beer Cheese Soup Inc.</h2>
          <img src= "public\images/logo.jpg">
          <div class= "timecard">
            <label for="start">hours worked</label>
            </div>
            <table>
            <tr>
            <th>
            <b>Day</b>
            </th>
            <th></th>
            <th></th>
            <th>Total Hours</th>
            </tr>
            <%= yield %>
            <tr>
            <td>Monday</td>
            <td>
            <select name="Time in" id="In">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@in1= #{'value'}%>
            </select>
            </td>
            <td>
              <select name="Time out" id="Out">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@out1= #{'value'}%>
            </select>
            </td>
            <td><%=@hours1%>
            </td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>
              <select name="Time in" id="In">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <% @in2= #{'value'}%>
            </select>
            </td>
            <td>
              <select name="Time out" id="Out">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@out2=#{'value'}%>
            </select>
            </td>
            <td><%=@hours2%>
            </td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>
              <select name="Time in" id="In">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@in3= #{'value'}%>
              </select>
            </td>
                <td>
              <select name="Time out" id="Out">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@out3= #{'value'}%>
            </select>
            </td>
            <td> <%=@hours3%> </td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>
              <select name="Time in" id="In">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@in4= #{'value'}%>
            </select>
            </td>
            <td>
              <select name="Time out" id="Out">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <% @out4= #{'value'}%>
            </select>
            </td>
            <td> <%=@hours4%></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>
              <select name="Time in" id="In">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@in5= #{'value'}%>
            </select>
            </td>
              <td>
              <select name="Time out" id="Out">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@out5= #{'value'}%>
            </select>
            </td>
            <td><%=@hour5%></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>
              <select name="Time in" id="In">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@in6= #{'value'}%>
            </select>
            </td>
              <td>
              <select name="Time out" id="Out">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@out6= #{'value'}%>
            </select>
            </td>
            <td> <%=@hours6%></td>
          </tr>
            <td>Sunday</td>
            <td>
              <select name="Time in" id="In">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@in7= #{'value'}%>
            </select>
              </td>
              <td>
              <select name="Time out" id="Out">
              <option value="0">12am</option>
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <%@out7= #{'value'}%>
            </select>
            </td>
            <td> <%=@hours7%></td>
          </tr>
        </table>
        <aside>
          <input type="reset" value="Reset Timecard">
          <form action="/:badge_id/save" method="patch">
              <button>Save/Update</button>
          </form>
              <input type="submit" value="Submit">
        </aside>
        <div>
          <img src=public\images\ladel wooden arrow.jpg>
            <aside>
                <h5 class= "reminder"> Weeks run Sunday - Saturday. Please submit your time card for the entire week at one time. Thank you. </h5>
            </aside>
        </div>
        <div class= "hour_count">
        <h3>Total Hours: <%=@weekly%></h3>
        </div>
      </main>
  </form>
</html>
